.navbar{
    height: 5rem;
    width: 100vw;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content:space-between;
    position: sticky;
    top: 0;
    background: rgb(30, 30, 30,.7);
    z-index: 3;
}
.logo{
    object-fit: cover;
    height: 5rem;
    width: 5rem;
    background-color: rgb(30, 30, 30);
}
.desktopmenulistitem{
    margin: 1rem;
    cursor: pointer;
}
.desktopmenulistitem:hover{
    padding-bottom: 0.5rem;
    color: yellow;
    border-bottom: 3px solid yellow;
}
.desktopmenubtn{
    background-color: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
}
.desktopmenubtn:hover{
    background-color: yellow;
    box-shadow: 3px 5px white;
}
.desktopmenuimg{
    object-fit: cover;
    height: 1.3rem;
    width: 1.3rem;
    margin: 1rem;
}
.active{
    color: yellow;
    border-bottom: 3px solid yellow;
    padding-bottom: .5rem;
}
.mobMenu{
    display: none;
    object-fit: cover;
    height: 2.5rem;
}
.navMenu{
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    height: fit-content;
    min-width: 15rem;
    background: rgb(40, 40, 40);
    border-radius: 1rem;
}
.listitem{
    color: white;
    padding: .5rem 3rem;
    margin: .25rem;
    background: rgb(30, 30, 30);
}
@media screen and (max-width:820px) {
    .mobMenu{
        display: flex;
    }
    .desktopmenu{
        display: none;
    }
    .desktopmenubtn{
        display: none;
    }
}